@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Montserrat Alternates;
}

hr {
  width: 536px;
}

.header {
  width: 100%;
  max-width: 1090px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__container {
  width: 100%;
  max-width: 544px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__container--content {
  width: 100%;
  max-width: 370px;
  display: flex;
  justify-content: space-between;
}
.header__container--link {
  text-decoration: none;
  color: #000;
  font-family: Montserrat Alternates;
  font-size: 12px;
  font-weight: 400;
}
.header__container--select {
  width: 100%;
}